---
import {getCollection, getEntryBySlug} from "astro:content";

const curUrl = new URL(Astro.request.url);
const selection = curUrl.pathname;
let base = selection.substring(1).includes('/') ? selection.substring(1).split('/').reverse().pop() : selection;
base = base.endsWith('/')? base : base + '/';
base = base.startsWith('/')? base.substring(1) : base;
console.log(`selection is ${selection}, base is ${base}`)

let ReportsVisible = true;
let reports = []
if(base === 'reports/') {
    console.log(`detected base ${base}`)
    ReportsVisible = true;
    reports = await getCollection('legacyReports');
    reports = reports.sort((a,b) => {
        if(a.data.sortOrder && b.data.sortOrder) {
            return a.data.sortOrder - b.data.sortOrder;
        }
        return a.slug.toString().toLowerCase().localeCompare(b.slug.toString().toLowerCase());
    });
    console.log(`retrieved ${reports.length}`)

}

---
<html>
<body>
test
<ul>
    {reports.map((r) => {
        return <li>* {r.slug}</li>;
    })}
</ul>
</body>
</html>