---
import MarkdownPostLayout from '../../layouts/MarkdownPostLayout.astro';
import { Debug } from 'astro/components';
import json from './glossary.json'
import { getEntryBySlug } from "astro:content";

let { slug } = Astro.params;
if (slug === undefined) {
    console.log(`in index file, slug was undefined`)
    slug = 'reference/glossary';
} else {
    slug = 'reference/' + slug;
    console.log(`slug is ${slug}`)

}
const curUrl = new URL(Astro.request.url);
console.log(`in index file, url is ${curUrl}`);
// 2. Query for the entry directly using the request slug
const entry = await getEntryBySlug("docs", slug);
// 3. Redirect if the entry does not exist
if (entry === undefined) {
    console.log(`failed to find ${slug}`)
    return Astro.redirect("/404");
}
// 4. (Optional) Render the entry to HTML in the template
const { Content } = await entry.render();

const entries = json;
---
<MarkdownPostLayout frontmatter={entry.data} navsections=''>
    <Content />
    
    <dl>
        {entries.map((e) => {
            return <>
                <dt ><a name={e.term} >{e.term}</a></dt>
                <dd>{e.definition}</dd>
                    </>
        })}
    </dl>

</MarkdownPostLayout>