---
export const prerender = false;

import { z } from "astro:content";

import { delay } from "nanodelay";

import "@spectrum-css/vars/dist/spectrum-global.css";
import "@spectrum-css/vars/dist/spectrum-medium.css";
import "@spectrum-css/page/dist/index.css";
import "@spectrum-css/table/dist/index.css";
import "@spectrum-css/icon/dist/index.css";
import "@spectrum-css/ui-icons/dist/medium/Arrow100.svg";

import {
  type BuffFilterReturnType,
  BuffParams,
  type BuffParamsType,
  ExtendedGeneral,
  GeneralElement,
  type GeneralElementType,
  GeneralPair,
  type GeneralPairType,
  GeneralClass,
  generalUseCase,
  type InvestmentOptionsType,
  qualityColor,
  AscendingLevels,
  type ExtendedGeneralType,
Display,
} from "@schemas/index";

import { DisplayGeneral, DisplayPair } from "./displayGeneral";

interface Props {
  name: string;
  InvestmentLevel: InvestmentOptionsType;
  class?: string;
}

const DEBUG = true;

const { name, InvestmentLevel } = Astro.props;

const myUrl = Astro.url;

const sortByOptions = z.enum(["primary", "secondary", "EvAnsRank"]);
type sortByOptionsType = z.infer<typeof sortByOptions>;

const sortDirectionOptions = z.enum(["ascending", "decending"]);
type sortDirectionType = z.infer<typeof sortDirectionOptions>;

let sortBy: sortByOptionsType = sortByOptions.enum.primary;
let sortDirection: sortDirectionType = sortDirectionOptions.enum.decending;

const pairs: Set<DisplayPair> = new Set<DisplayPair>();

let sortPrimaryInput: boolean | sortDirectionType | null = false;
let sortSecondaryInput: boolean | sortDirectionType | null = false;

let sortPrimaryValue: sortDirectionType = sortDirectionOptions.enum.decending;
let sortSecondaryValue: sortDirectionType = sortDirectionOptions.enum.decending;

let sortEvAnsRankInput: boolean | sortDirectionType | null = false;
let sortEvAnsRankValue: sortDirectionType = sortDirectionOptions.enum.decending;

if (Astro.request.method === "POST") {
  try {
    if (DEBUG) console.log(`executing POST try block`);
    const data = await Astro.request.formData();
    if (sortPrimaryInput === false) {
      //not prievously sorted by primary
      const v = sortDirectionOptions.safeParse(data.get("pGeneral"));
      if (v.success) {
        if (DEBUG) console.log(`sortPrimaryInput was false, is now ${v.data}`);
        sortPrimaryInput = true;
        sortBy = sortByOptions.enum.primary;
        sortDirection = v.data;
        if (sortDirection === sortDirectionOptions.enum.ascending) {
          sortPrimaryValue = sortDirectionOptions.enum.decending;
        } else {
          sortPrimaryValue = sortDirectionOptions.enum.ascending;
        }
      }
    } else {
      if (DEBUG)
        console.log(`values are ${sortPrimaryInput} and ${sortSecondaryInput}`);
    }
    if (sortSecondaryInput === false) {
      //not prievously sorted by primary
      const v = sortDirectionOptions.safeParse(data.get("sGeneral"));
      if (v.success) {
        if (DEBUG)
          console.log(`sortSecondaryInput was false, is now ${v.data}`);
        sortSecondaryInput = true;
        sortBy = sortByOptions.enum.secondary;
        sortDirection = v.data;
        if (sortDirection === sortDirectionOptions.enum.ascending) {
          sortSecondaryValue = sortDirectionOptions.enum.decending;
        } else {
          sortSecondaryValue = sortDirectionOptions.enum.ascending;
        }
      }
    } else {
      if (DEBUG)
        console.log(`values are ${sortPrimaryInput} and ${sortSecondaryInput}`);
    }
  } catch (error) {
    if (DEBUG) console.log(`executing POST catch block`);
    if (error instanceof Error) {
      console.log(`form error is ${error.message}`);
      console.log(`content type was ${error.name}`);
    }
  }
}

const sortPairsByPrimary = (a: DisplayPair, b: DisplayPair): number => {
  const one = a.primary.general.name;
  const two = b.primary.general.name;
  return one
    .toLocaleLowerCase(undefined)
    .localeCompare(two.toLocaleLowerCase(undefined), undefined, {
      sensitivity: "base",
    });
};

const sortPairsBySecondary = (a: DisplayPair, b: DisplayPair) => {
  const one = a.secondary.general.name;
  const two = b.secondary.general.name;
  return one
    .toLocaleLowerCase(undefined)
    .localeCompare(two.toLocaleLowerCase(undefined), undefined, {
      sensitivity: "base",
    });
};

const sortPairsByEvAnsRank = (a: DisplayPair, b: DisplayPair) => {
  if (a.EvAnsRanking === b.EvAnsRanking) {
    return 0;
  } else if (a.EvAnsRanking < b.EvAnsRanking) {
    return -1;
  }
  return 1;
};

const sortPairSelector: Record<
  sortByOptionsType,
  (a: DisplayPair, b: DisplayPair) => number
> = {
  [sortByOptions.enum.primary]: sortPairsByPrimary,
  [sortByOptions.enum.secondary]: sortPairsBySecondary,
  [sortByOptions.enum.EvAnsRank]: sortPairsByEvAnsRank,
};

const sortPairFunction = (a: DisplayPair, b: DisplayPair) => {
  if (a === undefined) {
    if (b === undefined) {
      return 0;
    } else {
      return 1;
    }
  } else {
    if (b === undefined) {
      return -1;
    }
    if (sortDirection === sortDirectionOptions.enum.decending) {
      return sortPairSelector[sortBy](a, b);
    }
    return sortPairSelector[sortBy](b, a);
  }
};
if (DEBUG) console.log(`# locals Generals: ${Astro.locals.ExtendedGeneralMap.size}`);
if (DEBUG)
  console.log(
    `# locals InvestmentOptions: ${Astro.locals.InvestmentOptions.size}`
  );

if (Astro.locals.ExtendedGeneralMap.size > 0) {
  for await (const eg1 of Astro.locals.ExtendedGeneralMap.values()) {
    if(DEBUG) console.log(`eg1 is ${eg1.general.name}`)
    const pairsData = new Array<GeneralPairType>();
    const dp1 = new DisplayGeneral(eg1.general, myUrl);
    const pairUrl = new URL(
      `/generalPairs/${eg1.general.name}-${eg1.general.score_as}.json`,
      Astro.url
    );
    const response = await fetch(pairUrl);
    if (response !== null && response.ok) {
      const jr: Array<GeneralPairType> = await response.json();
        const jrv = z.array(GeneralPair).safeParse(jr);
        if(jrv.success) {
          pairsData.push(...jrv.data)
        } else {
          console.log(`pair type validation failed: ${jrv.error.message}`)
          console.log(JSON.stringify(jr))
        }
    } else {
      console.log(`responce for ${pairUrl.toString()} was not ok`)
    }

    if(pairsData.length > 0) {
      if(DEBUG) {
        console.log(`pairsdata: ${pairsData.length}`)
      }
      pairsData.forEach((pi) => {
        for (const eg2 of Astro.locals.ExtendedGeneralMap.values()) {
          if(!pi.secondary.localeCompare(eg2.general.name)) {
            const dp2 = new DisplayGeneral(eg2.general, myUrl);
            const dbPair = new DisplayPair(dp1, dp2);
            pairs.add(dbPair)
          }
        }
      })
    }
  };
}

let pairArray = [...pairs].sort(sortPairFunction);

pairArray = pairArray.map((pair) => {
  pair.primary.EvAnsRanking = 1;
  pair.secondary.EvAnsRanking = 2;

  for (const actionable of Astro.locals.ExtendedGeneralMap.values()) {
    if(!actionable.general.name.localeCompare(pair.primary.general.name)) {
      const r = Astro.locals.EvAnsBuff(actionable.general.name, Display.enum.primary,InvestmentLevel)
      if(DEBUG) console.log(`got ${r} as Ranking for primary ${actionable.general.name}`)
      pair.primary.EvAnsRanking = r;
    }
    if(!actionable.general.name.localeCompare(pair.secondary.general.name)) {
       let assistInvest = InvestmentLevel;
       assistInvest[5] = AscendingLevels.enum[10];
       const r = Astro.locals.EvAnsBuff(actionable.general.name, Display.enum.assistant, assistInvest)
       if(DEBUG) console.log(`got ${r} as Ranking for secondary ${actionable.general.name}`)
       pair.secondary.EvAnsRanking = r;
    }
  }
  return pair;
})

---

<div class="spectrum spectrum--medium">
  <div
    id={name}
    class="spectrum-Table-scroller spectrum-Table spectrum-Table--sizeM spectrum-Table--emphasized"
    style="height: 600px"
  >
    <form name={name} method="POST">
      <div class="spectrum-Table-main" role="table">
        <div class="spectrum-Table-head" role="rowgroup">
          <div role="row">
            <div class="spectrum-Table-headCell" role="columnheader">
              <span class="spectrum-Table-columnTitle">Index</span>
            </div>
            <div
              class:list={["spectrum-Table-headCell", "is-sortable"]}
              role="columnheader"
              aria-sort="descending"
              tabindex="0"
            >
              <button type="submit" name="pGeneral" value={sortPrimaryValue}>
                <span class="spectrum-Table-columnTitle">Primary General</span>
              </button>
            </div>
            <div
              class="spectrum-Table-headCell"
              role="columnheader"
              aria-sort="none"
              tabindex="0"
            >
              <button type="submit" name="sGeneral" value={sortSecondaryValue}>
                <span class="spectrum-Table-columnTitle"
                  >Assistant General
                </span>
              </button>
            </div>
            <div
              class="spectrum-Table-headCell"
              role="columnheader"
              aria-sort="none"
              tabindex="0"
            >
              <button type="submit" name="EvAnsRank" value={sortEvAnsRankValue}>
                <span class="spectrum-Table-columnTitle">Score</span>
              </button>
            </div>
          </div>
        </div>

        <div class="spectrum-Table-body" role="rowgroup">
          {
            pairArray.length > 0 &&
              pairArray.map(
                (pi, index) =>
                  pi && (
                    <div class="spectrum-Table-row" role="rowgroup">
                      <div class="spectrum-Table-cell" role="cell">
                        {index}
                      </div>
                      <div class="spectrum-Table-cell" role="cell">
                        {pi.primary.general.name}
                      </div>
                      <div class="spectrum-Table-cell" role="cell">
                        {pi.secondary.general.name}
                      </div>
                      <div class="spectrum-Table-cell" role="cell">
                        {pi.EvAnsRanking}
                      </div>
                    </div>
                  )
              )
          }
        </div>
      </div>
    </form>
  </div>
</div>
<style></style>
